*
*/**
!*.md
!LICENSE
!Makefile
!*/
!img/*.dat

!hdl/*.vhd
!sim/*.vhd
!sim/*.wcfg
!script/*.sh
!script/*.py
!script/*.tcl

!zedboard/hdl/*.vhd
!zedboard/constraints/*.xdc
!zedboard/script/*.sh
!zedboard/script/*.py
!zedboard/script/*.tcl
